/*GENERAL BODY---------- ------------- --------------*/
body{
	font-size: 15px;
	line-height: 1.35em;
	margin: 0;
	background-color: #D2D1D9	;
	font-family: "aw-conqueror-carved-one", monospace;
	color: #231F20;
}
a, a:visited, a:hover{
	color: #231F20;
	text-decoration: none;
}

h1 a, h1 a:visited, h1 a:hover{
	text-decoration: none;
} 

#page{
	/*max-width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;*/
}
#container{
	margin: 0 auto;
	max-width: 80%;
}

@media (max-width: 700px) {
	body{
		font-size: 1.25em;
		line-height: 1.5em;
	}
}

@media (max-width: 400px) {
	body{
		font-size: 1em;
		line-height: 40px;
		margin: 0 auto;
	}
}

/*END GENERAL BODY SECTION*/


/*MASTHEAD---------- ------------- --------------*/
#masthead{
	margin: 0 auto 0;
	padding: 2em 1em 0;
	max-width: 100%;
	text-align: center;
	background-color: #231F20;
	border-bottom: 10px solid #B08AA4;
}

#masthead h1{
	font-family: "aw-conqueror-carved-one", serif;
	font-size: 3em;
	line-height: 100%;
	color: #D2D1D9;
	margin: 1em 0 .25em;
}

#masthead h4#subhead{
	letter-spacing: .7em;
	font-size: .75em;
	margin: 0 0 1.75em;
	font-family: "jaf-facitweb", sans-serif;
	font-weight: 300;
	color: #D2D1D9;
}

#forkMe{

}

@media (max-width: 700px) {
	#masthead{
			width: 100%;
			max-width: 100%;
			text-align: left;

		}
	#forkMe{
			display: none;
		}
}

@media (max-width: 400px) {
	#masthead {
		max-width: 100%;
		/*margin: 0 auto;*/
		text-align: left;
		padding: 1em 1em 0;
		
	}
	#masthead h1{
		width: 80%;
		max-width: 80%;
		/*margin: 0 auto;*/
		font-size: 2.5em;
	}
	#masthead h4#subhead{
		font-size: .5em;
	}
	#forkMe{
		display: none;
	}
}

/*END MASTHEAD SECTION*/


/* NAVIGATION: INDEX---------- ------------- --------------*/
#navContainer{
	text-align: center;
}

/*nav li a:hover{
	text-decoration: underline;	
}*/

nav ul{
	margin-left: 0em;
	padding-left: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

nav li{
	list-style: none;
	margin-left: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	line-height: 3em;
	border-top: 1px dotted #B0AFBF;
	text-decoration: none;
	text-transform: capitalize;
	font-family: "jaf-facitweb", sans-serif;
	font-weight: 300;
}

nav li a{
	display: block;
	width: 100%;
	/*height: 100%;*/
	margin: 0px;
}
nav li a:hover{
	background-color: #BFBFC4;
}


nav li span.date{
	display: inline-block;
}
nav li span.kriyaTitle{
	
}

nav li:first-child{
	border-top: none;
	/*padding-top: .2em;*/
}

nav li:last-child{
	border-bottom: 1px dotted #B0AFBF;
}

nav li.changelog{
	line-height: 120%;
	padding: .5em 0;
	text-align: left;
}

@media(max-width: 700px) {
	nav li{
		line-height: 120%;
		padding: 1em 0 ;
		text-align: left;
	}
}
@media (max-width: 400px) {
	nav{
		padding: 0;
		margin: 0;
	}
	nav li{
		line-height: 120%;
		padding: 1em 0 ;
		text-align: left;
	}
	nav li span.kriyaTitle{
		/*how to make lines 2+ get indented?;*/
}
}

/* NAVIGATION: INTERIOR ---------- ------------- --------------*/
#topNav{
	border: 0px solid;
	width: 100%;
	background-color: #4B4B52;
}

#logo{
	width: 50%;
	display: inline-block;
	border: 0px solid;
	padding-left: 1em;
	color: #D2D1D9;
}

#logo h1 a{
	color: #D2D1D9;
}

#pagination{
	width: 45%;
	display: inline-block;
	text-align: right;
}

#pagination, #pagination a{
	color: #D2D1D9;
}

#pagination a:hover{
	color: #69C5AE;
}
span#inactiveNav{
	color: #777893;
}


/* PAGES: INTERIOR ---------- ------------- --------------*/
#kriya{
	background-color: #D2D1D9
	height: 100%;
	max-width: 100%;
	color: #4B4B52;
}
#kriya h1, #kriya h2, #kriya h3, #kriya p{
	padding-left: 1em;
}
#kriya p{
	font-family: "ff-tisa-web-pro", Georgia, serif;
	font-style: italic;;
}

canvas{

}

article{

}


