body{
	font-size: 15px;
	line-height: 1.35em;
	margin: 0;
	background-color: #20396F;
	font-family: "aw-conqueror-carved-one", monospace;
	color: #F5F4D9;
}
a, a:visited, a:hover{
	color: #E2DFBC;
	text-decoration: none;
}

h1 a, h1 a:visited, h1 a:hover{
	text-decoration: none;
	color: #F5F4D9;
} 

nav li a:hover{
	text-decoration: underline;	
}

#page{
	max-width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
}
#container{
	margin: 0 auto;
	max-width: 80%;
}

#masthead{
	margin: 0 auto 0;
	padding: 2em 1em 0;
	max-width: 100%;
	text-align: center;
	background-color: #0987BF;
	border-bottom: 10px solid #EBC487;
}

#masthead h1{
	font-family: "aw-conqueror-carved-one", serif;
	font-size: 3em;
	line-height: 100%;
	color: #E2DFBC;
	margin: 1em 0 .25em;
}

#masthead h4#subhead{
	letter-spacing: .7em;
	font-size: .75em;
	margin: 0 0 1.75em;
	font-family: "jaf-facitweb", sans-serif;
	font-weight: 300;
}

svg{
	height: 10em;
	min-height: 4em;
}

#navContainer{
	text-align: center;
}

nav{
	
}

nav ul{
	margin-left: 0em;
	padding-left: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

nav li{
	list-style: none;
	margin-left: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	line-height: 3em;
	border-top: 2px dashed #0987BF;
	text-decoration: none;
	text-transform: capitalize;
	font-family: "jaf-facitweb", sans-serif;
		font-weight: 300;
}

nav li:first-child{
	border-top: none;
	padding-top: .2em;
}

nav li:last-child{
	border-bottom: 2px dashed #0987BF;
}

nav li.changelog{
	line-height: 120%;
	padding: .5em 0;
	text-align: left;
}

#topNav{
	border: 0px solid;
	width: 100%;
	background-color: #0987BF;
}

#logo{
	width: 50%;
	display: inline-block;
	border: 0px solid;
	padding-left: 1em;
	color: #E2DFBC;
}

#pagination{
	width: 45%;
	display: inline-block;
	text-align: right;
}

img#navArrows{
	height: 30px;
	background-position: -20px;
}

#pagination, #pagination a{
	color: #1DBFD5;
}

#pagination a:hover{
	color: #E2DFBC;
}
span#inactiveNav{
	color: #3599BC;
}

#kriya{
	background-color: #20396F;
	height: 100%;
	max-width: 100%;
	color: #E2DFBC;
}
#kriya h1, #kriya h2, #kriya h3, #kriya p{
	padding-left: 1em;
}
#kriya p{
	font-family: "ff-tisa-web-pro", Georgia, serif;
	font-style: italic;;
}


canvas{
	width: 100%;
}

article{

}

#forkMe{

}



