body{
	font-size: 18px;
	line-height: 1.35em;
	margin: 0 auto;
	background-color: black;
	font-family: "ff-tisa-web-pro", monospace;
	color: white;
}
a, a:visited, a:hover{
	color: white;
	text-decoration: none;
} 

p{
	font-family: "clavo", monospace;
}

nav li a:hover{
	background-color: #E02810;
	padding: .9em;
}

#page{
	max-width: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
}
#container{
	background-color: black;
	margin: 0 auto;
	max-width: 80%;
	height: 100%;
}

#masthead{
	background-color: black;
	margin: 2em auto 0;
	max-width: 50%;
	text-align: center;
}

#masthead h1{
	font-family: "aw-conqueror-carved-one", serif;
	font-size: 3em;
	line-height: 100%;
}

svg{
	height: 10em;
	min-height: 4em;
}

#navContainer{
	text-align: center;
}

nav{
	background-color: black;
}

nav ul{
	margin-left: 0em;
	padding-left: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

nav li{
	list-style: none;
	margin-left: 0em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	line-height: 3em;
	border-top: 1px dashed #393939;
	text-decoration: none;
}

nav li:last-child{
	border-bottom: 1px dashed #393939;
}

article{

}

#forkMe{
	
}



